<section class="wrapper">
  <div class="form--login-wrap">
  {{{heading}}}
    <form action="" method="post" class="form--login" enctype="multipart/form-data">
      {{{login}}}
      {{{password}}}
      {{{submit}}}
    </form>
    {{{link}}}
  </div>
</section>