<div class="chat--list-card-wrap">
    {{{avatar}}} 
    <div class="chat--list-card-time">{{time}}</div>  
    <div class="chat--list-card-title">{{title}}</div>
    <div class="chat--list-card-lastmessage">{{#if mine}}<span>{{mine}}:</span>>{{/if}} {{lastmessage}}</div>  
    {{#if unread}}<div class="chat--list-card-unread">{{{unread}}}</div>{{/if}}
</div>