<div class="input-wrapper">
    <label for="{{name}}">{{label}}</label>
    <input type="{{type}}" class="{{class}}" name="{{name}}" placeholder="{{placeholder}}" value="{{value}}" {{required}}>
    <span class="input-error">{{errortext}}</span>
</div>