<div class="popup-wrapper" data-popup="{{popupName}}">
    <h4>{{popupTitle}}</h4>
    <div class="popup-content {{popupClass}}">
        {{# if avatarPopup}}
            {{{avatarPopup}}}
        {{/if}}
        {{# if chatPopup}}
            {{{chatPopup}}}
        {{/if}}
        {{# if attachPopup}}
            {{{attachPopup}}}
        {{/if}}
    </div>
</div>