<section class="main--page-user-profile-wrap">
    {{{avatar}}}
    {{{heading}}}
  <div class="main--page-user-profile-form">
    <form action="" method="post" class="{{{formClass}}}" enctype="multipart/form-data">
      {{#each textInputs}}
        {{{this}}}
      {{/each}}
      {{{submit}}}
    </form>
  </div>
</section>

