<div class="user-profile-avatar-form">
    <div class="popup hidden" data-popup="{{popupName}}">
        <div class="popup-overlay"></div>
        <div class="popup-wrapper">
            {{{closeLink}}}
            <h4>{{popupTitle}}</h4>
            {{{popupContent}}}
        </div>
    </div>
    {{{avatar}}}
</div>