<div class="main--page-chat-body-wrap">
    <div class="main--page-chat-body-header">
        <div class="main--page-chat-body-header-chatname">
        {{{avatar}}}
        {{{chatName}}}
        </div>
        <i class="ch-more"></i>
    </div>
    <div class="main--page-chat-body-messages">
        {{#each chatMessages}}
            {{{this}}}
        {{/each}}
    </div>
    <div class="main--page-chat-body-footer">
        <i class="ch-attachment"></i>
        <form action="" class="message-input-form" enctype="multipart/form-data">
            {{{textInput}}}
            <span class="input-error"></span>
            {{{send}}}
        </form>
    </div>
</div>